@import '../variables.scss';

.ham {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: $blue;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .close-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        svg {
            width: 20px;
            height: 20px;
            fill: $pink;
        }
    }

    .ham-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: $pink;
        border-radius: 10px;
        margin-bottom: 30px;
        a {
            text-decoration: none;
            color: $red;
            margin: 10px;
            font-weight: 500;

            &:hover {
                color: $blue;
            }
        }
    }

    .ham-reserve {
        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $red;
    
            &:hover {
                color: $pink;
            }
        }
    }

}