@import '../../variables.scss';

.catalog {
    padding: 50px 30px;

    .item {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        // align-items: center;
        padding: 20px 0;
        border-bottom: 1px dotted $pink;

        p{
            color: $pink;
        }


        .name {
            p{
                font-size: 20px;
                font-weight: 600;
            }
        }

        .desc {
            justify-self: flex-start;
            p {
                font-size: 14px;
                font-weight: 500;
            }
        }

        .price {
            align-self: center;
            justify-self: end;
            p{
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .catalog {
        padding: 30px 10px;
    
        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // align-items: center;
            padding: 5px 0;
            border-bottom: 1px dotted $pink;
            p{
                color: $pink;
            }
    
    
            .name {

                p{
                    font-size: 15px;
                    font-weight: 600;
                }
            }
    
            .desc {
                margin-top: 10px;
                p {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
    
            .price {
                margin-top: 10px;
                p{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}