@import '../../variables.scss';

.categories {
    padding: 20px;

    .categories-list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            color: $pink;
            font-size: 18px;
            cursor: pointer;
            text-transform: uppercase;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $red;
                transition: .3s;
            }

            &:hover::after {
                width: 40%;
                transition: .3s;
            }
        }

        .active {
            color: $red;
        }
    }
}

@media only screen and (max-width: 600px) {
    .categories {
        padding: 20px;
    
        .categories-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90vw;
    
            p {
                color: $pink;
                font-size: 13px;
                margin: 0;
    
                &::after {
                    content:none;
                }
    
                &:hover::after {
                    width: 30%;
                    transition: .3s;
                }
            }
    
            .active {
                color: $red;
            }
        }
    }
}